@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
 margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, textarea,select {
    @apply border-2 border-gray-200 px-2 rounded-lg
}

input:focus, textarea :focus,
input:active, textarea :active,
select:active, select :active{
    @apply border-blue-800 outline-blue-800
}
img {
    max-width: 100%;
}

nav a {
    @apply p-1
}

label {
    @apply text-blue-800 mt-2
}

.title-dashboard {
    @apply text-xl
}

.black {
    background: #222;
}
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 80px;
    background: white;
    z-index: 30;
}

.btn-primary {
    @apply flex border border-gray-200 text-gray-600 bg-white w-fit px-4 py-2 gap-2 shadow-sm
}
.btn-secondary {
    @apply flex bg-red-200 h-full px-4 py-2 text-red-500 w-fit gap-2 shadow-sm
}
.btn-default {
    @apply flex bg-gray-500 px-2 py-1 w-fit gap-2 rounded-lg text-white
}
.basic {
    @apply mt-5 w-full
}
.basic tbody tr {
    border: 1px solid #c2bfc7;
}
.basic thead tr td {
    @apply text-gray-400 px-2 py-1 border-none
}

.table-skelton tbody tr td {
    @apply bg-gray-200 border-2 border-gray-400 animate-bounce
}

.btn-delete {
    @apply px-4 py-2 rounded-lg text-white text-lg min-w-[60px]
}

/*.nav {*/
/*    @apply sm*/
/*}*/