@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
 margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, textarea,select {
    @apply border-2 border-gray-200 px-2 rounded-lg
}

input:focus, textarea :focus,
input:active, textarea :active,
select:active, select :active{
    @apply border-blue-800 outline-blue-800
}
img {
    max-width: 100%;
}

nav a {
    @apply p-1
}

label {
    @apply text-blue-800 mt-2
}

.title-dashboard {
    @apply text-xl
}

.btn-primary {
    @apply flex bg-blue-800 h-full px-4 py-2 gap-2 rounded-lg text-white
}
.btn-default {
    @apply flex bg-gray-500 h-full px-4 py-2 w-fit gap-2 rounded-lg text-white
}
.basic {
    @apply mt-5 border-blue-800 border-2 w-full
}
.basic tbody tr td {
    @apply border-2 border-blue-400
}
.basic thead tr td {
    @apply bg-blue-800 text-white p-2
}

.table-skelton tbody tr td {
    @apply bg-gray-200 border-2 border-gray-400 animate-bounce
}

.btn-delete {
    @apply px-4 py-2 rounded-lg text-white text-lg min-w-[60px]
}